{% extends "base.html" %}
{% block content %}
    Git
{% endblock %}

 <body>
 <header>Understanding Git: Key Terms and Uses</header>
 <section class="container padding">
 <div class="text-heading-primary">
 Git is a free and open-source version control system used to handle small to very large projects.
 </div>
 <div class="text-heading">
 All major tech companies use Git to some extent, with big names like Netflix, Shopify, and Udemy relying on Git to manage their entire code base.
 </div>

 <div class="grid-2-cols">
 <div class="text">
     <ul>
         <li>
        Here are some key terms to know when thinking about Git:
    </li>
    <li>
        Branch -
    </li>
    <li>
        Merge -
    </li>
    <li>
        Commit -
    </li>
    <li>
        Tags -
    </li>
    <li>
        Repositories -
    </li>
     </ul>

     <ul>
         <li>Keeping the definition of these terms in mind, we can begin to understand how to work with Git.</li>
     </ul>
 </div>
 <div class="css-image img-01"></div>
 </div>
 </section>
 </body>
